.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  width: 80vw;
  height:5em;
}

.menu-logo {
  
}

.menu-links {
  text-decoration: none;
  font-family: var(--main-font);
  color: black;
  padding: 0 0.5em 0 0.5em;
}